@import '../app.component.scss';

.container-modal{
  margin: 10px;
  h2{
    font-size: $grande;
    margin: 10px;
  }
}
button{
  overflow-y: hidden;
  padding: 10px;
  border-radius: 25px;
  font-size: $media;
  border: none;
  color: #fff;
  text-shadow: $card-shadow;
  background-image: linear-gradient(to right,  #7BDD88,#479BDB);
  box-shadow: $card-shadow;
  font-weight: 500;
&:hover{
  transition: $card-transition;
   background-image: linear-gradient(to right, #479BDB, #7BDD88);
   color: #fff;
}
}