<div class="container-modal">

  <h1>HTML do Zero ao Avançado</h1>
  <p>Curso completo do zero ao avançado, para você inciante começar sua carreira na programação e decolar rumo ao sucesso,
    e se tornar um profissional web completo.
    Utilizar HTML de forma plena, respeitando as boas práticas e estruturar layouts com a linguagem
  </p>
  <ul>
    <li>🎯 Introdução ao HTML</li>
    <li>🎯 Aprendendo HTML</li>
    <li>🎯 Tags Semânticas</li>
    <li>🎯 Estrutura semântica</li>
    <li>🎯Projeto 1</li>
    <li>🎯Projeto 2</li>
    <li>🎯Projeto 3</li>
    <li>🎯Projeto 4</li>
  </ul>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="fechar()">Fechar</button>
  </div>
</div>