<footer>
    <div class="container">
    <mat-grid-list cols="4" rowHeight="2.5:3">
        <mat-grid-tile>
            <ul type="none">
                <li *ngFor="let redeSocial of redesSociais">
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <img [src]="redeSocial.icone" alt="">
                    </button>
                    <a [href]="redeSocial.link">
                        <span>{{redeSocial.app}}</span>
                    </a>
                </li>
            </ul>
        </mat-grid-tile>
    </mat-grid-list>
    </div>
</footer>