@import '../app.component.scss';


footer {
    .container{
    width: 100%;
    background-image: linear-gradient(to right, #479BDB, #7BDD88);
    color: white;
    }
    ul {
        padding-right: 100px;

        li {
            a {
                text-decoration: none;
                color: white;

                span {
                    font-size: 18px;
                }
            }
        }
    }

}