@import '../app.component.scss';

.container-cursos{
  width: 1140px;
  display:grid;
  margin: auto;
  margin-bottom: 30px;
  h2{
    font-size: $grande;
    color: $branco;
    text-align: center;
    margin-top: 50px;
  }
}

mat-grid-tile {
  color: $branco;
   mat-card{
    margin: 5px;
    // width: 250px;
    border-radius: 5px;
    padding: 1px;
    border: 1px solid $branco;
    background-color: #000;
      .img-card-home{
        border-radius: 0px 0px 50px 0px;
        
      }
      h2{
       padding: 20px;
       color: $cor-secundaria;
      }
      .nomeCurso{
        padding-top: 15px;
        font-size: 32px;
        text-align: center;
       color: $cor-secundaria;
      }
      p{
        font-size: $media;
        font-family: $fonte-secundaria;
        text-align: center;
        color: $branco;
      }
      mat-card-content{
        background-color: #000;
      }
      mat-card-actions{
        background-color: #000;
        padding-bottom: 10px;
        gap:5px;
          button{
            padding: 15px;
            border-radius: 25px;
            font-size: $media;
            border: none;
            color: #fff;            
            background-image: linear-gradient(to right,  #3B52D9, #479BDB, #D91ECC);           
            font-weight: 600;
            cursor: pointer;
          &:hover{
            transition: $card-transition;
             background-image: linear-gradient(to right, #D91ECC, #479BDB ,#3B52D9);
             color: $preto;
          }
          
        }
      }
    &:hover{
      transition: $card-transition;
      box-shadow: $card-shadow-hover;
     }
  }

  .favorite{
    color: red;
  }
  
  .favorite-checked{
    mat-icon {
      color: red;
  }

  }

  img{
    width: 100%;
  }
  button {
    width: 80%;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: $cor-secundaria;
    color: $branco;
  } 
}

@media (max-width: 480px) {
  .container-cursos {
     width: 100%; 
    }
}