@import "../app.component.scss";

mat-toolbar {
    background-color: $preto;
    color: $branco;
    overflow-y: hidden;
    .container {
        width: 1140px;
        overflow-y: hidden;
        display: flex;
        margin: auto;
        h1 {
          background-image: linear-gradient(to right, #479BDB, #7BDD88);
          background-clip: text;
          overflow-y: hidden;
          -webkit-background-clip: text;
          color: transparent;
            font-family: $fonte-principal;
            font-size: 50px;
            padding-top: 5px;
            font-weight: bold;
        }
        .menu-spacer {
            flex: 1 1 auto;
        }
        button {
            margin-top: 5px;
            &:hover {
              color:#479BDB;
            }

        }
        .auth {
          background-image: linear-gradient(to right, #479BDB, #7BDD88);
            color: $branco;
            margin-left: 30px;
            padding: 10px 10px;
            border-radius: 30px;
            transition: background-color 1s;
            box-shadow: 0 2px 10px 0 rgba(49, 196, 190, 0.75);
            &:hover {
              background-image: linear-gradient(to right,#7BDD88, #479BDB );
              transition: all .4s ease-in-out;
              color: $preto;
            }

        }
    }

}
