<mat-toolbar class="desktopToolbar">
    <div class="container">
        <h1 routerLink="home">CodeCreators</h1>
        <span class="menu-spacer"></span>
        <button class="" mat-button routerLink="/">HOME</button>
        <button class="responsiveButton" mat-button routerLink="cursos">Cursos</button>
        <button class="desktopButton" mat-button routerLink="cursos">CURSOS</button>
        <button mat-button routerLink="contato">CONTATO</button>
        <button class="auth" mat-button  routerLink="login" *ngIf="!loggedIn" (click)="HeaderButtonLogin()">
            <mat-icon aria-hidden="false" aria-label="Acessar o sistema" fontIcon="login"></mat-icon>
            LOGIN
        </button>
        <button class="auth" mat-button *ngIf="loggedIn" (click)="logout()">
            <mat-icon aria-hidden="false" aria-label="Sair do sistema" fontIcon="logout"></mat-icon>
            Logout
        </button>
    </div>
</mat-toolbar>

<h1 routerLink="home" style="text-align: center;" id="responsiveTitle">CodeCreators</h1>
<mat-toolbar>
    <div class="containerResponsivo">
        <button class="headerRouterButton" mat-button routerLink="/">Home</button>
        <button class="headerRouterButton" mat-button routerLink="cursos">Cursos</button>
        <button class="headerRouterButton" mat-button routerLink="contato">Contato</button>
        <button class="auth" mat-button  routerLink="login" *ngIf="!loggedIn" (click)="HeaderButtonLogin()">
            <mat-icon aria-hidden="false" aria-label="Acessar o sistema" fontIcon="login"></mat-icon>
            Login
        </button>
        <button class="auth" mat-button *ngIf="loggedIn" (click)="logout()">
            <mat-icon aria-hidden="false" aria-label="Sair do sistema" fontIcon="logout"></mat-icon>
            Logout
        </button>
    </div>
</mat-toolbar>

