@import '../app.component.scss';

* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url(https://i.ibb.co/zrpZv6K/fundo2.png);

    #loginPlace {

        mat-grid-tile {
            height: 800px;

            mat-grid-tile-content {
                margin-top: 0;
            }

            mat-card {
                background-color: white;
                margin-left: 130px;
                border-radius: 10px;
                width: 600px;
                height: 700px;
                border: 2px solid rgb(0, 162, 255);

                mat-card-header {
                    h2 {
                        margin-left: 125px;
                        font-size: 50px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        text-shadow: 1px 2px 2px rgb(0, 162, 255);
                        transform: text-shadow 2s;

                        &:hover {
                            cursor: context-menu;
                        }
                    }

                }

                mat-tab-group {

                    mat-tab label {
                        &:hover {
                            font-style: italic;
                        }
                    }

                    h2 {
                        font-size: 50px;
                        background-image: linear-gradient(to right, #479BDB, #7BDD88);
                        background-clip: text;
                        overflow-y: hidden;
                        -webkit-background-clip: text;
                        color: transparent;
                        text-align: center;
                        margin-top: 15px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                        &:hover {
                            background-image: linear-gradient(to right, #7BDD88, #479BDB);
                            background-clip: text;
                            transform: text-shadow 2s;
                            overflow-y: hidden;
                            -webkit-background-clip: text;
                            color: transparent;
                            cursor: context-menu;
                        }
                    }

                    form {
                        margin-left: 30px;
                        padding-bottom: 40px;

                        h3 {
                            font-size: 25px;
                            margin-top: 20px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            cursor: default;
                        }

                        input {
                            border-radius: 3.5px;
                            border: 2px solid black;
                            font-size: 15px;
                            width: 90%;
                            height: 50px;
                            font-style: italic
                        }

                        #changePassword {
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: blue;

                            &:hover{
                                text-decoration: underline;
                            }

                        }

                        button {
                            border: 2px solid black;
                            margin-left: 180px;
                            margin-top: 40px;
                            background-image: linear-gradient(to right, #479BDB, #7BDD88);
                            width: 150px;

                            &:hover {
                                background-image: black;
                            }

                            a{
                                color: black;
                            }

                        }
                    }

                    .example-form {
                        min-width: 150px;
                        max-width: 500px;
                        width: 100%;
                    }

                    .example-full-width {
                        width: 100%;
                    }
                }
            }
        }
    }
}