<div class="container" *ngIf="!loggedIn">
    <section id="loginPlace">
        <mat-grid-list cols="1" rowHeight="16:7">
            <mat-grid-tile>
                <mat-card>
                    <mat-card-content>
                        <mat-tab-group>
                            <mat-tab label="Login" id="loginLabel">
                                <h2>Login</h2>
                                <form action="">
                                    <h3>E-mail ou usuário :</h3>
                                    <input type="email" id="inputName" placeholder=" Digite seu e-mail ou usuário..."
                                        required><br>
                                    <h3>Senha :</h3>
                                    <input type="password" placeholder=" Digite sua senha..." required><br><br>
                                    <a href="#" id="changePassword">Esqueci minha senha...</a>
                                    <div class="example-button-row">
                                        <button mat-fab extended color="primary">
                                            <a>✔️ Entrar</a>
                                        </button>
                                    </div>
                                </form>
                            </mat-tab>
                            <mat-tab label="Cadastro">
                                <h2>Cadastro</h2>
                                <form action="">
                                    <h3>Nome Completo:</h3>
                                    <input type="name" id="inputName" placeholder=" Digite seu nome..." required><br>
                                    <h3>Selecione sua idade</h3>
                                    <select id="fruits" name="fruits">
                                        <option value="textoDeFundo">Escolha sua idade...</option>
                                        <option value="idade">15 a 18 anos</option>
                                        <option value="idade">18 a 24 anos</option>
                                        <option value="idade">24 a 30 anos</option>
                                        <option value="idade">30+</option>
                                    </select>
                                    <h3>E-mail:</h3>
                                    <input type="email" id="inputName" placeholder=" Digite seu e-mail..." required><br>
                                    <h3>Senha:</h3>
                                    <input type="password" placeholder=" Digite sua senha..." required><br><br>
                                    <div class="example-button-row">
                                        <button mat-fab extended color="primary">
                                            <a>✔️ Finalizar</a>
                                        </button>
                                    </div>
                                </form>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </section>
</div>
<div *ngIf="loggedIn">
    <h1>teste</h1>
</div>