@import '../app.component.scss';

* {
    margin: 0;
    padding: 0;
}
.container {
    #loginPlace {
        mat-grid-tile {
            height: 1000px;

            mat-grid-tile-content {
                margin-top: 0;
            }

            mat-card {
                
                background-color: white;
                border-radius: 10px;
                width: 700px;
                height: 800px;
                border: 2px solid rgb(0, 162, 255);

                mat-card-header {
                    h2 {
                        margin-left: 125px;
                        font-size: 50px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        transform: text-shadow 2s;
                        overflow: hidden;
                        &:hover {
                            cursor: context-menu;
                            background-image: linear-gradient(to right, #D91ECC,#3B52D9 );
                        }
                    }

                }

                mat-tab-group {

                    mat-tab label {
                        &:hover {
                            font-style: italic;
                        }
                    }

                    h2 {
                        font-size: 50px;
                        background-image: linear-gradient(to right,#3B52D9, #479BDB, #D91ECC);
                        background-clip: text;
                        overflow-y: hidden;
                        -webkit-background-clip: text;
                        color: transparent;
                        text-align: center;
                        margin-top: 15px;
                        font-family: 'Poppins', sans-serif;

                        &:hover {
                            background-image: linear-gradient(to right, #D91ECC,#479BDB,#3B52D9 );
                            background-clip: text;
                            transform: text-shadow 2s;
                            overflow-y: hidden;
                            -webkit-background-clip: text;
                            color: transparent;
                            cursor: context-menu;
                        }
                    }

                    form {
                        margin-left: 80px;
                        padding-bottom: 40px;
                        .changePassword{
                            cursor: pointer;
                        }

                        h3 {
                            font-size: 20px;
                            margin-top: 10px;
                            font-family: 'Poppins', sans-serif;
                            cursor: default;
                        }

                        input {
                            border-radius: 3.5px;
                            font-size: 15px;
                            width: 90%;
                            height: 50px;
                            font-style: italic
                        }

                        select{
                            border-radius: 3.5px;
                            border: 2px solid $preto;
                            font-size: 15px;
                            width: 90%;
                            height: 50px;
                            font-style: italic
                        }

                        #changePassword {
                            text-decoration: none;
                            &:hover {
                                color: $branco;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: blue;

                            &:hover{
                                color: $branco;
                            }

                        }

                        button {
                            
                            margin-left: 180px;
                            margin-top: 50px;
                            background-image: linear-gradient(to right, #3B52D9, #479BDB, #D91ECC);
                            width: 150px;

                            &:hover {
                                background-image: linear-gradient(to right,  #D91ECC,#479BDB,#3B52D9);
                                transition: background-image 1s;
                            }

                            a{
                                color: black;
                                text-decoration: none;
                            }

                        }
                    }

                    .example-form {
                        min-width: 150px;
                        max-width: 500px;
                        width: 100%;
                    }

                    .example-full-width {
                        width: 100%;
                    }
                }
            }
        }
    }
}

#loggedIn{

    h1{
        color: white;
        
    }
}

@media (max-width: 480px) {
    .container {
       width: 100%; 
       #loginPlace {
        mat-grid-tile {
            height: 1000px;
        }
      }
  }
}