/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');
$fonte-principal: 'Playfair Display', serif;
$fonte-secundaria: 'Open Sans', sans-serif;
$pequena: 12px;
$media: 16px;
$grande: 24px;
$extra-grande: 32px;

/* CORES */
$cor-primaria: #3B52D9;
$cor-secundaria: #408EC6;
$cor-terciaria: #D91ECC;
$branco: #ffffff;
$cinza-claro: #D3D3D3;
$cinza-escuro: #45484A;
$preto: #000000;

/* SOMBRAS */
$card-shadow: 0 1px 3px #D91ECC, 0 1px 2px #3B52D9;
$card-transition: 300ms linear;
$card-shadow-hover: 0 8px 16px #3B52D9, 0 10px 10px #D91ECC;

