
<div class="container">
  <div class="header">
      <mat-form-field>
          <mat-label>Pesquisar</mat-label>
          <input matInput (keyup)="filtrarCurso($event)" placeholder="Ex: Angular" #input>
      </mat-form-field>
      <button mat-button (click)="modalAdicionar('500ms', '500ms')">Cadastrar novo curso</button>
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="foto">
      <th mat-header-cell *matHeaderCellDef>Foto do Curso</th>
      <td mat-cell *matCellDef="let cursos">
          <img width="200" src="{{ cursos.foto}}" alt="Foto de {{ cursos.name }}" />
      </td>
      </ng-container>

      <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let cursos">
          <h2>{{ cursos.name }}</h2>
          <p>{{ cursos.description }}</p>
          <ul>
             <li><strong>Foto de Capa:</strong> {{ cursos.foto }}</li>
             <li><strong>Link Segunda Imagem:</strong> {{ cursos.foto2 }}</li>
             <li><strong>Descrição:</strong> {{ cursos.descricao1 }}</li>
             <li><strong>Informações adicionais:</strong> {{ cursos.descricao2 }}</li>
             <li><strong>Mais sobre o curso:</strong> {{ cursos.descricao3 }}</li>
             <li><strong>Preço:</strong> {{ cursos.preco }}</li>
          </ul>
      </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let cursos">
          <button
              [class]="(cursos.favorito === false ? 'favorite' : 'favorite-checked')"
              [title]="(cursos.favorito === false ? 'Adicionar aos Favoritos' : 'Remover dos favoritos')"
              (click)="toggleFavorito(cursos.id)">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
          </button>
          <button mat-button class="save" (click)="modalEditar(cursos.id, '500ms', '500ms')">
              <mat-icon aria-hidden="false" aria-label="Editar" fontIcon="edit"></mat-icon>
          </button>
          <button mat-button class="delete" (click)="modalExcluirCurso(cursos.id,'0ms', '0ms')">
              <mat-icon aria-hidden="false" aria-label="Apagar" fontIcon="delete"></mat-icon>
          </button>
      </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Não foram encontrrados resultados para o termo "{{input.value}}"</td>
      </tr>
  </table>
</div>
