<!-- INICIO CARROSSEL -->
<div class="item" [style.backgroundImage]="'url(' + imagens[indexImagemAtiva] + ')'"></div>
<!-- BOTÕES DE CONTROLE DO CARROSSEL -->
<div class="botoes-controle">
  <button *ngFor="let imagem of imagens; index as i"[class.ativo]="i === indexImagemAtiva"(click)="pararTimer(); ativarImagem(i)"></button></div>
<img *ngFor="let imagem of imagens" [src]="imagem" width="1" height="1" style="opacity: 0; position: fixed"/>
<!----------------FIM CARROSSEL---------------->
<!--INICIO FAVORITOS-->
<section id="cursos-favoritos">
<h2>DESTAQUES DA SEMANA</h2>
<mat-grid-list cols="4" rowHeight="3:4">
  <div *ngFor="let curso of cursos; let i = index">
  <mat-grid-tile *ngIf = "curso.favorito === true">
    <mat-card>
      <img class="img-card-home" mat-card-image src='{{curso.foto}}'>
      <mat-card-content>
        <h2>{{curso.name}}</h2>
        <p class="descricao">{{curso.description}}</p>
        <p class="preco">R$ {{curso.preco}}</p>
        <p>Ref: {{curso.id}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="favorite" mat-button (click)="toogleFavorito(i)"> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon></button>
        <button (click)="abrirModalCurso()">Detalhes</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  </div>
</mat-grid-list>
</section>

<div class="container-cursos">
  <h2>TODOS OS CURSOS</h2>

<!-- Cards de cursos inicio -->
  <mat-grid-list cols="4" rowHeight="3:4">
  <div *ngFor="let curso of cursos; let i = index">
  <mat-grid-tile>
    <mat-card>
      <img class="img-card-home" mat-card-image src='{{curso.foto}}'>
      <mat-card-content>
        <h2>{{curso.name}}</h2>
        <p class="descricao">{{curso.description}}</p>
        <p class="preco">R$ {{curso.preco}}</p>
        <p>Ref: {{curso.id}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="favorite" mat-button (click)="toogleFavorito(i)"> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon></button>
        <button (click)="abrirModalCurso()">Detalhes</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</div>

</mat-grid-list>
  <!-- Fim cards cursos -->
</div>
