@import '../app.component.scss';
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Spice&display=swap');


// imagem logo codecreators 
.codecreators{
  width: 100%
}
.container{
  width: 1140px;
  display: block;
  margin: auto;
}

//todos os títulos.
.front{
  background-image: linear-gradient(to top, #e9e6db, #f79503);
  font-family: 'Poppins', sans-serif;
  }

.back{
  background-image: linear-gradient(to top, #faf8f3, #53f309);
  font-family: 'Poppins', sans-serif;
}
h1{
  background-clip: text;
  overflow-y: hidden;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;  
  font-family: 'Poppins', sans-serif;
}
h2{
  color: $branco;
  text-align: center;
  font-size: 35px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

//front e back end - grid
.cursod {
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  transition: .3s;
  &:hover{
    gap: 2rem;
  }
}
.cursod_title {
  display: block;
  margin: 0 auto 4rem auto;
  font-size: 60px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.cursod_section {
  padding: 2rem 0;
}
.cursod_item {
  cursor: pointer;
  list-style-type: none;
  background-color: #202020;
  border-radius: 5px;
  border: 1px solid #479BDB;
  margin-top: 1rem;
  margin-bottom: 4rem;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 50%);
  padding: 0 1rem 1rem 1rem;
  transition: .3s;
  &:hover{
    background-color: #000;
  }
}
.cursod_item h3, p{
  color: $branco;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

//cursos mais procurados
.container-cursos{
  width: 1140px;
  overflow: hidden;
  margin: auto;
  
}
.fundo-cursos{
  background-color: #111111;
}

//botão para todos os cursos
.todosCursos{
  text-decoration: none;
  margin-left: 450px;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  font-weight: bold;
  padding: 15px;
  color: $branco;
  text-align: center;
  border-radius: 25px;
  background-image: linear-gradient(to right, #3B52D9, #479BDB, #D91ECC);
  &:hover{
    transition: 500ms linear;
    color: $preto;
    background-image: linear-gradient(to right,  #D91ECC,#479BDB, #3B52D9);
  }
}

//cursos mais procurados + depoimentos(cards)
mat-grid-tile {
  cursor: pointer;
  color: $branco;
   mat-card{
    margin: 5px;
    border-radius: 0px 0px;
    padding: 3px;
    border: 1px solid $branco;
    border-radius: 5px;
    background-color: #000;
      .img-card-home{
        border-radius: 0px 0px 50px 0px;
        box-shadow: $cor-primaria;
      }
      h2{
       padding: 20px;
       color: $cor-secundaria;
       font-family: 'Poppins', sans-serif;
      }
      p{
        font-size: $media;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: $branco;
      }
      mat-card-subtitle{
        color: $cor-primaria;
      }
      mat-card-content{
        background-color: #000;
      }
      mat-card-actions{
        background-color: #000;
        padding-bottom: 10px;
            gap:5px;
          button{
            padding: 15px;
            border-radius: 25px;
            font-size: $media;
            border: none;
            color: #fff;            
            background-image: linear-gradient(to right, #3B52D9, #479BDB, #D91ECC);            
            font-weight: 600;
          &:hover{
            transition: $card-transition;
            background-image: linear-gradient(to right,  #D91ECC,#479BDB, #3B52D9);
            color: $preto;
          }
          
        }
      }
   &:hover{
    transition: $card-transition;
    box-shadow: $card-shadow-hover;
   }
  }

  img{
    width: 100%;
  }

  button {
    width: 80%;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: $cor-secundaria;
    color: $branco;
  } 
}

//carrossel
.item {
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;
  transition: all 0.5s ease-in-out;
  border-radius: 7px;
}
.botoes-controle {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 8px;
}
.botoes-controle button {
  background: #ccc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin-bottom: 30px;
}
.botoes-controle button.ativo {
  background: #479BDB;
  cursor: default;
}

//depoimentos

.example-card {
  max-width: 400px;
}
.example-header-image1 {
  background-image: url('https://i.ibb.co/fMbTZ9V/may.jpg');
  background-size: cover;
}
.example-header-image2{
  background-image: url('https://i.ibb.co/yhkn6QR/karina.jpg');
  background-size: cover;
}
.example-header-image3{
  background-image: url('https://i.ibb.co/6887Sc7/brigit.jpg');
  background-size: cover;
}
.example-header-image4{
  background-image: url('https://i.ibb.co/p4xYT41/ina.jpg');
  background-size: cover;
}


//responsivo
@media (max-width:480px){
  .codecreators{
    width: 95%;    
  }

  .container{
    width: 100%;
    display: block;
    margin: auto;
  }
  //todos os títulos.
h1{
  font-size: 50px;
  font-weight: bold; 
}
h2{
  font-size: 20px;
}
.cursod {
    gap: 0;
    margin: 0 1rem;
    grid-template-columns: 1fr
  }
.cursod_section {
    padding: .5rem 0;
  }

  .container-cursos{
    width: 100%;
    overflow: hidden; 
  }

  //botão para todos os cursos
.todosCursos {
  margin-left: 120px;
}

.item {
  height: 300px;
  margin: 15px;
}

mat-grid-list{
  background-color: #111111;
}
}